<h3>Add a task to list name: <%= @list.name() %></h3>
<h3>List id: <%= @list.id() %></h3>

<form action="/tasks" method="post">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">

  <label for="description">Description of the task:</label>
  <input id="description" name="description" type="text">
  <label for="duedate">Duedate:</label>
  <input id="duedate" name="duedate" type="text">

  <button type="submit">Add task</button>
</form>


<div class="container">
  <a href="/">Home</a>
  <a href="/full_list">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
