
<form action="/list-list" method="post">

</form>


<form action="/lists" method="post">
  <label for="name">List Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>


<hr>

<div class="container">
  <a href="/">Home</a>
</div>
