<h1><%= @task.list_id%></h1>
<h1><%= @task.description%></h1>
<h1>test</h1>

<div class="container">
  <a href="/">Home</a>
  <a href="/full_list">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
