<h1><%= @description%></h1>
<h1><%= @duedate%></h1>
<h1><%= @list_id %></h1>


<div class="container">
  <a href="/">Home</a>
  <a href="/full_list">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
